.app.dark{
  --bg-color:rgb(0 0 0);
  --primary-color: rgb(255 255 255);
  --secondary-color: rgb(142 142 142);
  --inverted-bg-color: rgb(250 250 250);
  --inverted-primary-color: rgb(0 0 0);
  --inverted-secondary-color: rgb(191 191 191);
}